#root {
  font-family: Poppins, sans-serif;
}

/* HOME PAGE---------------------------------------- */
.home-page-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.map-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.side-panel-container {
  position: absolute;
  top: 10px;
  left: 10px;
  /* width: 400px; */
  height: calc(100% - 20px);
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  overflow-y: hidden;
  z-index: 10;
  padding: 10px;
}

.info-card-container {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 5;
}

/* MAP COMPONENT------------------------------------- */
.mapbox-map {
  width: 100%;
  height: 100%;
}

/* SIDE PANEL---------------------------------------- */
.side-panel-content {
  max-width: 450px;
}
.s-p-filter {
  display: flex;
  flex-direction: row;
}

.s-p-garden-list {
  height: calc(100vh - 200px);
  overflow-y: auto;
}
