#root {
  font-family: Poppins, sans-serif;

  --color-1: #333a57;
  --color-1: #3d4564;
  --color-2: #a9c094;
  --color-3: #e3edda;
}

/* HOME PAGE---------------------------------------- */
.home-page-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.map-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.info-card-container {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 5;
}

/* MAP COMPONENT------------------------------------- */

.mapbox-map {
  width: 100%;
  height: 100%;
}

.garden-marker {
  width: 28px;
  height: 28px;
  background-color: #3e8448;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.garden-marker.marker-small {
  width: 16px;
  height: 16px;
  font-size: 10px;
  opacity: 0.5;
}

.pulsing-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgb(0, 145, 60);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(255, 215, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 215, 0, 0);
  }
}
/* SIDE PANEL---------------------------------------- */
.side-panel-container {
  position: absolute;
  top: 10px;
  left: 10px;
  height: calc(100% - 20px);
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  overflow-y: hidden;
  z-index: 10;
  padding: 10px;
}

.side-panel-content {
  max-width: 450px;
  min-width: 250px;
}

.s-p-filter-chips {
  position: absolute;
  top: 10px;
  max-width: calc(100vw - 450px);
  right: 40px;
  max-height: calc(100vh - 20px);
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  z-index: 11;
  padding: 0 10px;
}

.s-p-garden-list {
  height: calc(100vh - 145px);
  overflow-y: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #ffffff95; /* Firefox */
}

/* Chrome, Edge, Safari */
.s-p-garden-list::-webkit-scrollbar {
  width: 6px;
}

.s-p-garden-list::-webkit-scrollbar-track {
  background: transparent;
}

.s-p-garden-list::-webkit-scrollbar-thumb {
  background-color: #ffffff8a; /* Scrollbar color */
  border-radius: 3px; /* Rounded corners */
}

.s-p-garden-list::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff85; /* Darker on hover */
}
